<!-- articles/templates/article.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/static/css/article.css">
</head>
<body class="article">
    <div class="header">
        <img src="https://nnovgorod.sledcom.ru/upload/site49/document_news/unnamed_(1)-800x600.jpg" alt="Логотип">
    </div>
    <div class="content">
        <div class="one-post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.text }}</p>
        </div>
        <a href="{% url 'archive' %}" class="back-link">Все записи</a>
    </div>
</body>
</html>