body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.post-title a {
    color: #ffffff;
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

.article-author {
    width: 50%;
    float: left;
    font-weight: bold;
}

.article-created-date {
    text-align: right;
    width: 50%;
    float: right;
}

.article-info {
    overflow: hidden;
    margin-bottom: 20px;
}

.article-text {
    line-height: 1.6;
    margin-bottom: 30px;
}

.back-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

.one-post {
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}